{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="inicio" />
    <title>Editar</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color: #f9cb9c;">


{% include "navbar.html" %}
    <div class="card" style="background-color: #f9cb9c;">
      <div  class="card-title text-center"><h1>Editar</h1></div>
        <div class="card-body text-center">
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.non_field_errors }}
              <div class="">
                {{ form.titulo.errors }}
                <label for="{{ form.message.id_for_label }}">Título: </label>
                <br>
                {{ form.titulo }}
              </div>
              <div class="">
                  {{ form.contenido.errors }}
                  <label for="{{ form.message.id_for_label }}">Contenido: </label>
                  <br>
                  {{ form.contenido }}
              </div>
              {{ form.non_field_errors }}
              <div class="">
                  {{ form.fecha.errors }}
                  <label for="{{ form.message.id_for_label }}">Fecha: </label>
                  <br>
                  {{ form.fecha }}
              </div>
              <div class="">
                {{ form.categoria.errors }}
                <label for="{{ form.message.id_for_label }}">Categorias: </label>
                <br>
                {{ form.categoria }}
              </div>
              <div class="">
                {{ form.imagen.errors }}
                <label for="{{ form.message.id_for_label }}">Imagen: </label>
                <br>
                {{ form.imagen }}
              </div>
              <br>
              <p><button class="w-100 btn btn-lg btn-success" type="submit" name="btn_ingresar">Guardar cambios</button></p>
              <p><a href="{% url 'publicacion:listado' %}" class="w-100 btn btn-lg btn-danger">Cancelar</a></p>
          </form>
        </div>
    </div>
  </body>  
</html>