{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>iniciar_sesion</title>
  <link rel="stylesheet" href="{% static 'iniciar_sesion.css' %}">

</head>
<body><!--
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'inicio'%}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'informacion' %}">Sobre nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#main">Iniciar sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registrarse' %}">Registrarse</a>
      </li>
  </ul>-->
<!-- partial:index.partial.html -->
  <main>
    <div id="bg"></div>

    <form method="get">{% csrf_token %}<!-- para seguridad-->
      <div class="form-field">
        <input type="text" placeholder="Usuario" name="username" required/>
      </div>
      
      <div class="form-field">
        <input type="password" placeholder="Contraseña" name="password" required/>                         </div>
      
      <div class="form-field">
        <button class="btn" type="submit" >Iniciar sesión</button>
      </div>
    </form>
    <!-- partial -->
  </main>
</body>
</html>
