{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="publicacion" />
        <title>Publicacion</title>
        <link rel="stylesheet" href="{% static 'css/publicacion.css' %}" /><!--css/publicacion.css no funciona... Solución: hay que configurar STATICFILES_DIRS de local.py-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        {% include "navbar.html" %}
        <br>
        <div id="main-content" class="blog-page">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 left-box">
                        <div class="card single_post">
                            <div class="body">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="{{publicacion.imagen.url}}" alt="imagen de publicacion">
                                </div>
                                <h3>{{publicacion.titulo}}</h3>
                                <p>{{publicacion.contenido}}</p>
                            </div>                        
                        </div>
                        <div class="card">
                                <div class="header">
                                    <h2>Comentarios {{publicacion.comentarios.count}}</h2>
                                </div>
                                {% if not publicacion.comentarios.all %}
                                    No hay comentarios
                                {% else %}
                                    {% for comentario in publicacion.comentarios.all %}
                                        <div class="body">
                                            <ul class="comment-reply list-unstyled">
                                                <li class="row clearfix">
                                                    <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image"></div>
                                                    <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                                        <h5 class="m-b-0">{{comentario.usuario.last_name}} {{comentario.usuario.first_name}}</h5>
                                                        <p>{{comentario.contenido}}</p>
                                                        <ul class="list-inline">
                                                            <li>{{comentario.fecha_agregado}}</li>

                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>                                        
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card">
                                <div class="header">
                                    <h2>Dejá un comentario</h2>
                                </div>
                                <div class="body">
                                    <div class="comment-form">
                                        <form class="row clearfix">
                                            <div class="col-sm-12">
                                                <a href="{% url 'publicacion:agregar_comentario' %}"><button type="button" class="btn btn-block btn-primary">AGREGAR UN COMENTARIO</button></a>
                                            </div>                                
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-12 right-box">
                        <div class="card">
                            <div class="header">
                                <h2>Categories Clouds</h2>
                            </div>
                            <div class="body widget">
                                <ul class="list-unstyled categories-clouds m-b-0">
                                    <li><a href="javascript:void(0);">eCommerce</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>

